* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196f3;
  padding: 10px;
  margin-top: 100px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2rem;
  font-size: 20px;
  text-align: center;
}
.image {
  width: 30rem;
}
.text {
  letter-spacing: -0.1rem;
  text-align: justify;
  font-size: smaller;
}
.hide {
  display: none;
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

  box-sizing: border-box;
}
